$page-bg-color: #eee;
$todo-bg-color:#fff;
$light-grey-color: #9eb2c0;
$dark-grey-color: #2e3641;
$header-text-color:#dae4eb;
body {
  margin: 0;
  background: $page-bg-color;
}

.todo-list {
  margin: 5vh auto;
  width: 318px;
  background: $todo-bg-color;
  border: 1px solid $light-grey-color;
  border-top: 0;
  font-family: 'Lato';
  font-size: 12px;
  .tl-row {
    display: flex;
    height: 28px;
    width: 100%;
    border-top: 1px solid $light-grey-color;
    &>* {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .tl-short-column {
      width: 28px;
    }
    .tl-splitter {
      width: 3px;
      border: 1px solid $light-grey-color;
      border-bottom: 0;
      border-top: 0;
    }
    .tl-long-column {
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 8px;
    }
  }
  .tl-header-row {
    height: auto;
    background: $dark-grey-color;
    color: $header-text-color;
    .tl-header-text {
      padding: 8px 0;
      font-size: 22px;
    }
  }
  .tl-input-row {
    .tl-add-task-cross {
      color: $dark-grey-color;
      text-decoration: none;
      &:visited {
        color: $dark-grey-color;
      }
    }
    .tl-task-entry {
      width: 100%;
      border: 0;
      outline: none;
    }
  }
}